<?xml version="1.0" encoding="utf-8"?>

<!--
  Description of the ROSbot3 robot.

  Author: Gabryel Batista
-->

<robot name="rosbot3"  xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find rosbot3_description)/urdf/base.xacro"/>

  <!-- Alturas baseadas nas especificações disponíveis em https://husarion.com/manuals/rosbot/ -->
  <xacro:property name="base_top_z" value="${103 * M}"/>
  <xacro:property name="lidar_top_z" value="${141 * M}"/>
  
  <!-- Dimensões do lidar -->
  <xacro:property name="lidar_height" value="${lidar_top_z - base_top_z}"/>
  <xacro:property name="lidar_size" value="${50 * M}"/>
  <xacro:property name="lidar_offset_x" value="${30 * M}"/>

  <!-- Dimensões do suporte da camera -->
  <xacro:property name="camera_support_height" value="${94 * M}"/>
  <xacro:property name="camera_support_size" value="${20 * M}"/>
  <xacro:property name="camera_offset_x" value="${-30 * M}"/>

  <!-- Dimensões do braço horizontal da camera -->
  <xacro:property name="camera_arm_length" value="${60 * M}"/>
  <xacro:property name="camera_arm_width" value="${15 * M}"/>
  <xacro:property name="camera_arm_height" value="${15 * M}"/>

  <!-- Dimensões da camera disponíveis em: https://shop.luxonis.com/products/oak-d-lite-1?variant=42583102456031 -->

  <xacro:property name="camera_height" value="${28 * M}"/>
  <xacro:property name="camera_width" value="${91 * M}"/>
  <xacro:property name="camera_length" value="${17.5 * M}"/>

  <xacro:solid_block 
    name="camera_support" 
    size_x="${camera_support_size}" 
    size_y="${camera_support_size}" 
    size_z="${camera_support_height}"
  />

  <xacro:solid_block
    name="camera_arm"
    size_x="${camera_arm_length}"
    size_y="${camera_arm_width}"
    size_z="${camera_arm_height}"
  />

  <xacro:solid_block
    name="camera_block"
    size_x="${camera_length}" 
    size_y="${camera_width}" 
    size_z="${camera_height}"
  />

  <xacro:camera_link name="camera_front"/>


  <!-- Lidar -->
  <xacro:solid_block 
    name="lidar" 
    size_x="${lidar_size}" 
    size_y="${lidar_size}" 
    size_z="${lidar_height}"/>
  
  <!-- Link do laser (para o sensor LiDAR) -->
  <link name="laser"/>

  <!-- Junta conectando o lidar ao body -->
  <xacro:property name="lidar_z_joint" value="${0.5 * body_height + 0.5 * lidar_height}"/>
  <xacro:joint_fixed 
    parent="body" 
    child="lidar" 
    x="${lidar_offset_x}"
    z="${lidar_z_joint}"/>

  <!-- Junta conectando o link laser ao lidar -->
  <xacro:joint_fixed 
    parent="lidar" 
    child="laser" 
    z="${0.5 * lidar_height}"/>


  <!-- Juntas relacionadas a camera -->
  <xacro:property name="camera_support_z_joint" value="${base_top_z}"/>
  <xacro:joint_fixed 
    parent="body" 
    child="camera_support" 
    x="${camera_offset_x}"
    z="${0.5 *camera_support_z_joint + 0.5 * camera_support_height - ground_clearance}"/>

  <!-- Braço horizontal conectado ao topo do suporte vertical, apontando para frente -->
  <xacro:joint_fixed
    parent="camera_support"
    child="camera_arm"
    x="${0.5 * camera_arm_length}"
    z="${0.5 * camera_support_height}"
  />

  <!-- Bloco da camera conectado ao final do braço horizontal -->
  <!-- O final do braço está em x = 0.5 * camera_arm_length (do centro do braço) -->
  <!-- O centro do bloco da camera precisa estar em x = 0.5 * camera_arm_length + 0.5 * camera_length -->
  <xacro:joint_fixed
    parent="camera_arm"
    child="camera_block"
    x="${0.5 * camera_arm_length + 0.5 * camera_length}"
    z="${0.5 * camera_arm_height}"
  />

  <!-- Link da camera conectado ao bloco da camera -->
  <xacro:joint_fixed
    parent="camera_block"
    child="camera_front"
    x="${0.5 * camera_length}"
    z="${0.5 * camera_height}"
  />
  
</robot>