<?xml version="1.0" encoding="utf-8"?>

<!--
  Description of the ROSbot3 robot.

  Author: Gabryel Batista
-->

<robot name="rosbot3"  xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find rosbot3_description)/urdf/base.xacro"/>

  <!-- Propriedades do suporte e lidar -->
  <!-- Alturas baseadas nas especificações: base=103mm, support=141mm, lidar=197mm -->
  <xacro:property name="base_top_z" value="${103 * M}"/>
  <xacro:property name="lidar_top_z" value="${141 * M}"/>
  
  <!-- Dimensões do lidar -->
  <xacro:property name="lidar_height" value="${lidar_top_z - base_top_z}"/>
  <xacro:property name="lidar_size" value="${50 * M}"/>

  <!-- Lidar -->
  <xacro:solid_block 
    name="lidar" 
    size_x="${lidar_size}" 
    size_y="${lidar_size}" 
    size_z="${lidar_height}"/>
  
  <!-- Link do laser (para o sensor LiDAR) -->
  <link name="laser"/>


  <!-- Junta conectando o lidar ao body (posicionado no topo dos postes) -->
  <xacro:property name="lidar_z_joint" value="${0.5 * body_height + 0.5 * lidar_height}"/>
  <xacro:joint_fixed 
    parent="body" 
    child="lidar" 
    z="${lidar_z_joint}"/>

  <!-- Junta conectando o link laser ao lidar -->
  <xacro:joint_fixed 
    parent="lidar" 
    child="laser" 
    z="${0.5 * lidar_height}"/>

</robot>